:root{
  --upc-bgcolor: #F0FFFF;
}
*{
  margin: 0;
}
header{
  background-color: var(--upc-bgcolor);
  color: darkblue;
  display: flex;
  height: 40px;
  padding: 10px;
  width: 100%;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
header h3{
  font-size: 30px;
  font-family: 'VT323',monospace;
}
.upper-container{
  background-color: var(--upc-bgcolor);
}
.nav-items{
  display: flex;
  justify-content: space-evenly;
  padding-right: 350px;

}
.nav-list{
  padding: 40px;
  list-style-type: none;
  font-size: 20px;
  font-weight: bolder;
  color: darkblue;
  
}
.logo{
  display: flex;
  align-items: center;
}
.nav-items a{
  text-decoration: none;
}
.nav-logo{
  height: 60px;
  width: 60px;
  padding-right: 10px;
}
.upper-container{
  display: flex;
  width: 100%;
  height: 500px;
}
.upper-container-left{
  flex-basis: 50%;
  margin: auto;
  padding-left: 10px;
  text-align: center;

}
.upper-container-right{
 flex-basis: 50%;
 display: flex;
 justify-content: center;
}
.rtx-pc{
  margin: 0;
  
  height: 500px;
}
main{
  width: 100%;
  overflow-x: hidden;
  
}
.order-button{
  border: 1px solid darkblue;
  padding: 20px;
  color: white;
  background-color: darkblue;
  text-decoration: none;
  border-radius: 20px;
  font-size: 20px;
  
  
}
.order{
  margin-top: 40px;
}
.service-img{
  height: 60px;
  width: 60px;
}
.lower-container{
  display: flex;
  margin-top: 40px;
  padding: 30px;
  
}
.lower-container-left{
  width: 50%;
  margin: auto;
  text-align: justify;
  padding-left: 30px;
}
.lower-container-right{
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 15px;
  margin-left: 100px;
  padding-left: 100px;
  justify-content: space-evenly;
}
.lcr-services{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 200px;
  border-radius: 15px;
  background-color: azure;
  font-size: 18px;
}
.lcr-services:hover{
  transform: translateY(-10px); 
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); 
}
.contact-us{
  display: grid;
  justify-content: center;
  text-align: center;
}
#email{
  height: 40px;
  width: 500px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
}
input[type="submit"]{
  margin-top: 20px;
  height: 40px;
  width: 100px;
  background-color: darkblue;
  border-radius: 20px;
  color: white;
}
footer{
  width: 100%;
  height: 50px;
  background-color: aliceblue;
  text-align: center;
  margin-top: 30px;
}
footer a{
  text-decoration: none;
  color: darkblue;
  margin-left: 12px;
  font-size: 20px;
}
footer p{
  font-size: 20px;
  color: gray;
}
.social-img{
  height: 50px;
  width: 50px;
  padding: 30px;
}
.social-start{
  margin: 20px;
  font-size: 30px;
}
.text{
  font-family: 'lato', sans-serif;
  font-size: 20px;
}
h1,h2,h3,h4{
  font-family: 'Fira Code', monospace;
}
a.active{
  text-decoration: underline;
}